{% extends 'base.html.twig' %}

{% block title %}Competences index{% endblock %}

{% block body %}
    <h1>Competences index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
            </tr>
        </thead>
        <tbody>
        {% for competence in competences %}
            <tr>
                <td>{{ competence.nom }}</td>
                <td>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('competence_new') }}">Créer une competence</a>
{% endblock %}
