{% extends 'base.html.twig' %}

{% block title %}New offres{% endblock %}

{% block body %}
    <h1>Create new offres</h1>

    {{ include('offres/_form.html.twig') }}

    <a href="{{ path('offres_index') }}">back to list</a>
{% endblock %}
