{% extends 'base.html.twig' %}

{% block title %}New contrats{% endblock %}

{% block body %}
    <h1>Create new contrats</h1>

    {{ include('contrats/_form.html.twig') }}

    <a href="{{ path('contrats_index') }}">back to list</a>
{% endblock %}
